.ContactLink__content {
  max-width: 1240px;
  margin: 30px auto;  
  display: flex;
  flex-direction: column;
  align-items: center;     
  padding: 20px 0 30px;
  border-bottom-left-radius: 60px;
  border: 1px solid black;
}
