@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.herobackground {
    position: relative;
    width: 100vw;
    background-image: url('@images/backgroundimage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    .hero__content {
        display: grid;
        max-width: 1240px;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        position: relative;
        z-index: 2;

        .button-container {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .colonne1 {
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            animation: slideUp 0.8s ease-out forwards;
        }

        .colonne2 {
            backdrop-filter: blur(6px);
            border-bottom-left-radius: 60px;
            border: 1px solid white;
            text-align: center;
            align-items: center;
            display: flex;
            padding: 15px;
            margin: 200px 20px 20px 20px;

            animation: slideLeft 0.8s ease-out forwards;
            animation-delay: 0.2s;
            opacity: 0;
            /* important pour le delay */
        }


    }
}


.herobackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 168, 193, 0.67);
    /* Calque noir semi-transparent */
    z-index: 1;
    /* Place le calque au-dessus de l'image de fond */

}