.herobackground {




    .hero__content {
        display: grid;
        max-width: 1240px;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        position: relative;
        z-index: 2;
        color: white;

        .button-container {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .colonne1 {
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >* {
                opacity: 0;
                animation: slideUp 0.5s ease-out forwards;
                animation-delay: 1s;
            }

            .hero__title {
                animation-delay: 1.1s;
            }

            .hero__subtitle {
                margin-bottom: 50px;
                animation-delay: 1.3s;
            }

            .button-container {
                animation-delay: 1.5s;
            }
        }

        .colonne2 {
            backdrop-filter: blur(6px);
            border-bottom-left-radius: 60px;
            border: 1px solid white;
            text-align: center;
            align-items: center;
            display: flex;
            padding: 15px;
            margin: 200px 20px 20px 20px;
            animation-delay: 1.1s;
            opacity: 0;
            /* important pour le delay */
        }


    }
}


.herobackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 12, 12, 0.47);
    z-index: 1;
    padding-bottom: 90px;
}