.herobackground {
    position: relative;
    width: 100vw;
    background-image: url('@images/backgroundimage.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    .hero__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        position: relative;
        z-index: 2;
    }
}

.herobackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 168, 193, 0.67);
    /* Calque noir semi-transparent */
    z-index: 1;
    /* Place le calque au-dessus de l'image de fond */

}