@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animation-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

.animation-slide-left{
    animation: slideLeft 0.5s ease-out forwards;
}
