@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-slide-down {
  animation: slideDown 0.6s ease-out forwards;
}

.animation-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

.animation-slide-left{
    animation: slideLeft 0.5s ease-out forwards;
}

.animation-slide-right{
    animation: slideRight 0.5s ease-out 1s forwards;
}
