/* reset basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  max-width: 1240px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  
}
