/* reset basique */
* {
  margin: 0, auto;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  scroll-behavior: smooth;
  margin: 0 auto;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  
}

.main-content {
  /*max-width: 1240px;*/
  padding-top: 80px; 
}

.section {
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  /*align-items: center; */
  padding: 50px; 
  box-sizing: border-box; 
 /* width: 100%;  Largeur complète */
}
  
a{
  text-decoration: none;
}