/* reset basique */
* {
  margin: 0, auto;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  max-width: 1240px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  
}

.main-content {
  padding-top: 80px; /* Ajustez cette valeur */
}

.section {
  min-height: 100vh; /* Hauteur minimale de 100% de la fenêtre */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre le contenu verticalement */
  align-items: center; /* Centre le contenu horizontalement (optionnel) */
  padding: 50px 20px; /* Espacement interne pour éviter que le contenu ne colle aux bords */
  box-sizing: border-box; /* Inclut le padding dans la hauteur totale */
  width: 100%; /* Largeur complète */
}