.about__background {
    background-color: #F2F2F2;

    .about__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 1240px;
        margin-top: 200px;

        .about__title {
            margin-top: -200px;
        }
    }
}