.about__background {
    background-color: #F2F2F2;

    .about__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 1240px;
        margin-top: 200px;

        .about__title {
            margin-top: -200px;

            h2,
            h1 {
                opacity: 0;
            }

            &.is-visible {
                h2 {
                    animation: fadeSlideUp 0.6s ease-out forwards;
                    animation-delay: 0s;
                }

                h1 {
                    animation: fadeSlideUp 0.6s ease-out forwards;
                    animation-delay: 0.2s;
                }
            }
        }

        .about__description {
            p {
                opacity: 0;
            }

            &.is-visible {
                p {
                    animation: slideLeft 0.6s ease-out forwards;
                }

                p:nth-child(1) {
                    animation-delay: 1s;
                }

                p:nth-child(2) {
                    animation-delay: 3s;
                }
            }
        }

    }
}