.contact__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: -90px;
  color: white;
  max-width: 900px;
  gap: 50px;
  position: relative;
  z-index: 2;

  .contact__content {
    max-width: 400px;
    opacity: 0;
    transform: translateX(-80px);

    &.is-visible {
      animation: slideRight 0.8s ease-out forwards;
      animation-delay: 2s;
    }
  }


  .contact {
    width: 100%;
    opacity: 0;
    transform: translateY(40px);

    h2,
    p {
      opacity: 0;
    }

    &.is-visible {
      opacity: 1;
      transform: translateY(0);

      h2 {
        animation: slideUp 0.8s ease forwards;
        animation-delay: 0.2s;
      }

      p {
        animation: slideUp 0.8s ease forwards;
        animation-delay: 0.4s;
      }
    }
  }
}

.contact__background {
  position: relative;
}

.contact__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 12, 12, 0.47);
  z-index: 1;
  margin-top: -90px;
  padding-top: 90px;
}