.contact__background {
  background-color: rgba(242, 242, 242, 0.19);
  margin-top: -90px;

  .contact__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 900px;
    padding-top: 100px;
    gap: 50px;

    .contact__content {
      max-width: 400px;
      opacity: 0;
      transform: translateX(-80px);

      &.is-visible {
        animation: slideRight 0.8s ease-out forwards;
        animation-delay: 2s;
      }
    }

    
    .contact {
      width: 100%;
      opacity: 0;
      transform: translateY(40px);

      h2,
      p {
        opacity: 0;
      }

      &.is-visible {
        opacity: 1;
        transform: translateY(0);

        h2 {
          animation: slideUp 0.8s ease forwards;
          animation-delay: 0.2s;
        }

        p {
          animation: slideUp 0.8s ease forwards;
          animation-delay: 0.4s;
        }
      }
    }
  }
}

