.contact__background {
  background-color: #f2f2f285;


  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: white;

    .item {
      color: gray;
    }
  }

  .Contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1240px;
    margin-top: 200px;

    .contact__content {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }


  }

  /* état initial */
  .information {
    transform: translateX(-80px);
    opacity: 0;
    transition: transform 1.2s ease, opacity 1.2s ease;
  }

  .contact {
    transform: translateX(80px);
    transition-delay: 0.15s;
    opacity: 0;
    transition: transform 1.2s ease, opacity 1.2s ease;
    width: 100%;
    margin-top: -200px;
  }

  /* état animé */
  .Contact.merged .information,
  .Contact.merged .contact {
    transform: translateX(0);
    opacity: 1;
  }
}