@use "@styles/variables.scss" as *; 


.programs__background {
    background-color:$section1__background__color;



    .programs__content {
        max-width: 1240px;
        margin-top: 15vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        padding: 0 20px;
        box-sizing: border-box;

        .programs {
            margin-top: -100px;

            &__image {
                width: 80%;
            }

            &__title,
            &__subtitle,
            &__image {
                opacity: 0;
            }

            &.is-visible {

                .programs {

                    &__title {
                        animation: slideUp 0.5s ease-out forwards;
                    }

                    &__image {
                        animation: slideRight 0.8s ease-out forwards;
                        animation-delay: 0.5s;
                    }
                }

                &__subtitle {
                    animation: slideUp 0.5s ease-out forwards;
                    animation-delay: 0.2s;
                }
            }
        }


        .programs__buttons__content {
            max-width: 800px;
            margin-top: 100px;

            .programs__buttons {
                margin-bottom: 40px;
                display: flex;
                justify-content: space-between;
                animation-delay: 0.5s;
                opacity: 0;

            }


        }

        .programs__description-container {
            grid-column: 1 / -1; // Prend toute la largeur disponible
            width: 100%;

            .programs__item-description {
                width: 70vw;
                max-width: 100%;
                margin: 10px 0;
                padding: 15px;
                margin-bottom: 30px;
                box-sizing: border-box;
                background-color: #f8f9fa;
                border-radius: 4px;
            }


        }

        .button__new__page {
            animation-delay: 0.5s;
            opacity: 0;
        }
    }
}