.footer__container {
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    padding: 10px 0px;
    font-size: 14px;
    gap: 20px;

    .footer-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
}

@media (max-width: 600px) {}